ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  display: block;
  width: 50px;
  height: 50px;
}

.calc {
  padding: 20px;
  width: 242px;

  border: 1px solid #000000;
}

.calc-input {
  display: block;
  width: 200px;
  height: 30px;
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.calc-layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.calc-item {
  display: flex;
}
